body {
    font-family: "Montserrat", sans-serif;
}

.logo-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.carousel-height {
    height: 20rem;
    object-fit: fill;
}

.carousel-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    font-weight: 900;
}

.heading {
    font-size: 22px;
    font-weight: 900;
}

.subheading {
    font-size: 18px;
}

.description {
    font-size: 15px;
    font-weight: 700;
}

.subdescription {
    font-size: 12px;
    font-weight: 700;
}

.subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.description-fw {
    font-weight: 500 !important;
}

.carousel-description {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.carousel-subdescription {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.carousel-caption {
    bottom: 6rem;
}

.accordion-button:not(.collapsed) {
    background: none;
    border: none;
    box-shadow: none;
}

.card-ok {
    background: url(/assets/img/card.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.additive-bg {
    background: linear-gradient(272.45deg, rgba(0, 0, 0, 0) 23.25%, #000 66.7%), url(/assets/img/additive.png), #000 !important;
    background-size: cover !important;
    background-position-x: right !important;
    background-repeat: no-repeat !important;
    background-position: right;
    height: 360px;
}

.idea-bg {
    background: linear-gradient(272.45deg, rgba(0, 0, 0, 0) 23.25%, #000 66.7%), url(/assets/img/idea\ come.jpg), #000 !important;
    background-size: cover !important;
    background-position-x: center !important;
    background-repeat: no-repeat !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.bluecolor-txt {
    color: #001C69;
}

.blog-carousel-img {
    height: 30rem;
}

.description-lineheight {
    line-height: 16px;
}

.blogtext-hover {
    color: #001C69;
}

.blogtext-hover:hover {
    color: #61a94c;
}

.email-hover {
    color: #000;
}

.email-hover:hover {
    color: #ff8119 !important;
}

.bg-blue {
    background: #001C69;
}

.or-text {
    border-top: 1px solid #e1e1e1;
    line-height: 0.1em;
}

.btn-dropdown:hover {
    background: #001C69;
}

.testimonial-slide {
    padding: 40px 20px;
}

.testimonial_box {
    /* background: #f6fa1f; */
    padding: 30px;
    border-radius: 15px;
}

.testimonial_box-img {
    padding: 20px 0 10px;
    display: flex;
    justify-content: center;
}

.footer ul li a:hover {
    color: #ff8119 !important;
}

.btn-close-2 {
    position: absolute;
    top: 50px;
    right: 25px;
}

.login-btn:hover {
    background: rgb(210, 227, 252) !important;
}

.password-container {
    position: relative;
    /* width: 300px; */
}

.card-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.password-input {
    /* padding-right: 30px; */
    width: 100%;
    box-sizing: border-box;
    /* Ensure padding doesn't increase width */
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

.password-toggle:hover {
    color: #333;
}

.weight-circle {
    border: 3px solid #001C69;
    width: 65px;
    height: 65px;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.checkout-border:after,
.checkout-border:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

.offcanvas {
    background: #F7F5F1;
}

.calltoaction-bg {
    /* background: #65c349; */
    background: #61a94c;
}

.txt-orange {
    color: #ff8119;
}

.orange-bg {
    background: #ff8119;
}

.orange-bg:hover {
    background: #ff8119;
}

@media(max-width: 768px) {
    .carousel-section {
        margin-top: 10.7rem !important;
    }

    .carousel-heading {
        font-size: 35px;
    }

    .section-gap {
        margin-top: 9rem !important;
    }

    .carousel-height {
        height: 20rem;
        object-fit: cover;
    }
}

@media(max-width: 576px) {
    /* .carousel-section{
        margin-top: 10.7rem !important;
    } */

    .carousel-heading {
        font-size: 32px;
    }

    .carousel-description {
        font-size: 18px;
    }

    .carousel-subdescription {
        font-size: 15px;
    }

    .blog-carousel-img {
        height: 100%;
    }

    .checkout-border:after,
    .checkout-border:before {
        display: none;
    }
}